

<nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a  routerLink="/principal" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img [src]="image" class="h-20" alt="logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Gestor de proyectos</span>
    </a>
    <button
    data-collapse-toggle="navbar-hamburger"
    (click)="toogleSidemenu()"
    type="button"
    class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div
    class="w-full"
    [class.hidden]="hideSideMenu()"
    id="navbar-hamburger">
      <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
        <li>
          <a routerLink=""
          routerLinkActive="block py-2 px-3 text-white bg-blue-700 rounded dark:bg-blue-600"
          (click)="toogleSidemenu()"
           class="block py-2 px-3 text-white bg-blue-700 rounded dark:bg-blue-600" aria-current="page">Proyectos</a>
        </li>
        <li>
          <a routerLink="/add_cotizacion"
          (click)="toogleSidemenu()"
           class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Agregar Nuevo Proyecto</a>
        </li>
        <li>
          <a routerLink="/edit_cotizacion"
          (click)="toogleSidemenu()"
           class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white">
          </a>
        </li>
        <li>
          <a routerLink="/archived"
          (click)="toogleSidemenu()"
           class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white">Archivados</a>
        </li>
        <li>
          <a routerLink="/home"
          (click)="toogleSidemenu()"
           class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
